@import "variable";

footer {
  padding-top: 2rem;

  .footer-content {
    align-items: flex-start;
    font-weight: bold;
    font-size: 1.2rem;

    ul {
      padding: 0;
    }

    li {
      list-style: none;
      padding-top: 1rem;
    }

    a {
      text-decoration: none;
      color: $colorYellow;
      font-family: 'Roboto', serif;
      font-size: 1.2rem;
    }

    .fab {
      margin: .7rem;
      color: $colorWhite;
    }

    .mr10 {
      margin: 0 9rem 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .footer-content {
    flex-wrap: wrap;


  }
  .mr10{
    padding-left: 4rem;
  }
  .followUs {
    padding-left: 13rem;
  }
  .logo{
    margin: auto;
  }
}
