@import 'variable';


// BAR MENU QUI DEVIENT UNE CROIX AU CLIQUE
.bar-menu {
  width: 15%;

  .container {
    display: inline-block;
    cursor: pointer;

    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 4px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }
  }

  .change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-8px, 6px);
      transform: rotate(-45deg) translate(-8px, 6px);
      background-color: $colorRed;
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      background-color: $colorRed;
      -webkit-transform: rotate(45deg) translate(-8px, -7px);
      transform: rotate(45deg) translate(-8px, -7px);
    }
  }
}

// Menu
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 0;
  background-color: $colorWhite;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

  li {
    list-style: none;
    padding-top: 1rem;

    a {
      text-decoration: none;
      color: inherit;
      padding-left: 1rem;
    }
  }

  .title-menu {
    font-size: 3rem;
    background-color: $colorBlue;
    text-align: center;
    padding: 0 1rem;
  }
}

.expanded {
  width: 400px;
}

//HEADER
header {
  background-color: rgba($mainBodyColor, 1);
  opacity: 1;
  z-index: 55;

  &:nth-child(n) {
    display: flex;
    flex: 1 1 0;
  }
}

//HEADER TITLE
.header_title {
  font-family: $poiretOne;
  line-height: 1rem;
  margin-left: 1rem;
  flex: 2 1 0;
  padding-right: 15rem;

  h1 {
    font-size: 4rem;
    font-weight: normal;
  }

  h2 {
    font-size: 1.5rem;
  }
}

//HEADER SEARCH

input[type=search] {


  transition: all 1s ease;
  transform-origin: left;
  width: 0;
  border: none;

}


input[type=search]:focus {
  width: 150px;

}

//HEADER ACCOUNT
.header-account {
  font-size: 1.4rem;
  position: absolute;
  right: 0;

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (max-width: 1024px)  {
  header {
    padding-bottom: 5rem;

    .header-account {
      display: flex;
      bottom: 0;
      right: 24%;
      border: initial;

      input[type=search] {
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 900px) and (min-width: 680px) {

  .bar-menu {
    width: auto;
  }
  .header_title {
    padding-right: 0;
  }

}

@media screen and (max-width: 680px) {
  .bar-menu {
    width: auto;
  }
  .header_title {
    padding-right: 0;

    h1 {
      font-size: 3rem;
    }


  }
  .header-account{
    right: 10%;
  }
  input[type=search] {
    width: 150px !important;
  }

}

